@model BLL.App.DTO.CreditCard

@{
    ViewData["Title"] = "Create";
}

<h1>Add</h1>

<h4>CreditCard</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreditCardNr" class="control-label"></label>
                <input asp-for="CreditCardNr" class="form-control"/>
                <span asp-validation-for="CreditCardNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidThru" class="control-label"></label>
                <input asp-for="ValidThru" class="form-control"/>
                <span asp-validation-for="ValidThru" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="AppUserId" class="control-label"></label>
                <input asp-for="AppUserId" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}