@model IEnumerable<BLL.App.DTO.CreditCard>

@{
    ViewData["Title"] = "Credit cards";
}

<h1>My credit cards</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidThru)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidThru)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
