<template>
  <h1>Add</h1>

  <h4>Warehouse</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="WarehouseName">Warehouse's name</label>
          <input class="form-control" type="text" id="WarehouseName" name="WarehouseName" value.bind="warehouse.warehouseName" />
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
       </form>
    </div>
  </div>

  <div>
    <a route-href="route: warehousesIndex">Back to List</a>
  </div>
</template>
