<template>
  <h1>Details</h1>

  <div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Warehouse's name
      </dt>
      <dd class = "col-sm-10">
        ${warehouse.warehouseName}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="warehouse != null" route-href="route: warehousesEdit; params.bind: {id: warehouse.id}">Edit</a> |
    <a route-href="route: warehousesIndex">Back to List</a>
  </div>

</template>
