<template>
  <div if.bind="isAdmin">
    <h1>Warehouses</h1>

    <p>
      <a route-href="route: warehousesCreate">Add a warehouse</a>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th>
          Warehouse's name
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="warehouse of warehouses">
        <td>
          ${warehouse.warehouseName}
        </td>
        <td>
          <a route-href="route: warehousesEdit; params.bind: {id: warehouse.id}">Edit</a> |
          <a route-href="route: warehousesDetails; params.bind: {id: warehouse.id}">Details</a> |
          <a route-href="route: warehousesDelete; params.bind: {id: warehouse.id}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
