<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>Address</h4>
    <hr/>
    <dl class="row">
      <dt class="col-sm-2">
        Country
      </dt>
      <dd class="col-sm-10">
        ${address.country}
      </dd>
      <dt class="col-sm-2">
        County
      </dt>
      <dd class="col-sm-10">
        ${address.county}
      </dd>
      <dt class="col-sm-2">
        City
      </dt>
      <dd class="col-sm-10">
        ${address.city}
      </dd>
      <dt class="col-sm-2">
        Street
      </dt>
      <dd class="col-sm-10">
        ${address.street}
      </dd>
      <dt class="col-sm-2">
        House number
      </dt>
      <dd class="col-sm-10">
        ${address.houseNr}
      </dd>
      <dt class="col-sm-2">
        Zip code
      </dt>
      <dd class="col-sm-10">
        ${address.zipCode}
      </dd>
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Delete" class="btn btn-danger"/> |
      <a route-href="route: addressesIndex">Back to List</a>
    </form>
  </div>

</template>
