<template>
  <h1>Details</h1>

  <div>
    <h4>Address</h4>
    <hr />
      <dl class="row">
        <dt class="col-sm-2">
          Country
        </dt>
        <dd class="col-sm-10">
          ${address.country}
        </dd>
        <dt class="col-sm-2">
          County
        </dt>
        <dd class="col-sm-10">
          ${address.county}
        </dd>
        <dt class="col-sm-2">
          City
        </dt>
        <dd class="col-sm-10">
          ${address.city}
        </dd>
        <dt class="col-sm-2">
          Street
        </dt>
        <dd class="col-sm-10">
          ${address.street}
        </dd>
        <dt class="col-sm-2">
          HouseNr
        </dt>
        <dd class="col-sm-10">
          ${address.houseNr}
        </dd>
        <dt class="col-sm-2">
          ZipCode
        </dt>
        <dd class="col-sm-10">
          ${address.zipCode}
        </dd>
        <dt class="col-sm-2">
          AppUserId
        </dt>
        <dd class="col-sm-10">
          ${address.appUserId}
        </dd>
      </dl>
  </div>
  <div>
    <!-- if.bind - add/remove element to dom based on predicate -->
    <a if.bind="address != null" route-href="route: addressesEdit; params.bind: {id: address.id}">Edit</a> |
    <a route-href="route: addressesIndex">Back to List</a>
  </div>

</template>
