<template>
  <h1>Edit</h1>

  <h4>Address</h4>
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="Country">Country</label>
          <input class="form-control" type="text" id="Country" name="Country" value.bind="address.country"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="County">County</label>
          <input class="form-control" type="text" id="County" name="County" value.bind="address.county"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="City">City</label>
          <input class="form-control" type="text" id="City" name="City" value.bind="address.city"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="Street">Street</label>
          <input class="form-control" type="text" id="Street" name="Street" value.bind="address.street"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="HouseNr">House number</label>
          <input class="form-control" type="text" id="HouseNr" name="HouseNr" value.bind="address.houseNr"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="ZipCode">Zip code</label>
          <input class="form-control" type="text" id="ZipCode" name="ZipCode" value.bind="address.zipCode"/>
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>

  <div>
    <a route-href="route: addressesIndex">Back to List</a>
  </div>
</template>
