<template>
  <h1>My addresses</h1>

  <p>
    <a route-href="route: addressesCreate">Add</a>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Country
      </th>
      <th>
        County
      </th>
      <th>
        City
      </th>
      <th>
        Street
      </th>
      <th>
        House number
      </th>
      <th>
        Zip code
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="address of addresses">
      <td>
       ${address.country}
      </td>
      <td>
        ${address.county}
      </td>
      <td>
        ${address.city}
      </td>
      <td>
        ${address.street}
      </td>
      <td>
        ${address.houseNr}
      </td>
      <td>
        ${address.zipCode}
      </td>
      <td>
        <a route-href="route: addressesEdit; params.bind: {id: address.id}">Edit</a> |
        <a route-href="route: addressesDelete; params.bind: {id: address.id}">Delete</a>
      </td>
    </tr>
    
    </tbody>
  </table>

</template>
