<template>
  <h1>Create</h1>

  <div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${game.gameTitle}
      </dd>
      <dt class = "col-sm-2">
        Platform
      </dt>
      <dd class = "col-sm-10">
        ${platform.platformName}
      </dd>
    </dl>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">
        <div class="form-group">
          <label class="control-label" for="Rating">Rating</label>
          <input class="form-control" type="number" id="Rating" name="Rating" value.bind="review.rating" />
        </div>
        <div class="form-group">
          <label class="control-label" for="Comment">Comment</label>
          <input class="form-control" type="text" id="Comment" name="Comment" value.bind="review.comment" />
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: gamesIndex">Back to games</a> |
    <a route-href="route: reviewsIndex">Reviews</a>
  </div>

</template>
