<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Rating
      </dt>
      <dd class = "col-sm-10">
        ${review.rating}
      </dd>
      <dt class = "col-sm-2">
        Comment
      </dt>
      <dd class = "col-sm-10">
        ${review.comment}
      </dd>
      <dt class = "col-sm-2">
        Added
      </dt>
      <dd class = "col-sm-10">
        ${review.timeString}
      </dd>
      <dt class = "col-sm-2">
        Reviewer
      </dt>
      <dd class = "col-sm-10">
        ${review.appuser}
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${review.game}
      <dt class = "col-sm-2">
        Platform
      </dt>
      <dd class = "col-sm-10">
        ${review.platform}
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a route-href="route: reviewsIndex">Back to List</a>
     </form>
  </div>


</template>
