<template>
  <h1>Details</h1>

  <div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Rating
      </dt>
      <dd class = "col-sm-10">
        ${review.rating}
      </dd>
      <dt class = "col-sm-2">
        Comment
      </dt>
      <dd class = "col-sm-10">
        ${review.comment}
      </dd>
      <dt class = "col-sm-2">
        Added
      </dt>
      <dd class = "col-sm-10">
        ${review.timeString}
      </dd>
      <dt class = "col-sm-2">
        Reviewer
      </dt>
      <dd class = "col-sm-10">
        ${review.appuser}
      </dd>
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${review.game}
      </dd>
      <dt class = "col-sm-2">
        Platform
      </dt>
      <dd class = "col-sm-10">
        ${review.platform}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="review != null" route-href="route: reviewsEdit; params.bind: {id: review.id}">Edit</a> |
    <a route-href="route: reviewsIndex">Back to List</a>
  </div>

</template>
