<template>
  <h1>User reviews</h1>
  <p></p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Rating
      </th>
      <th>
        Comment
      </th>
      <th>
        Added
      </th>
      <th>
        Reviewer
      </th>
      <th>
        Game
      </th>
      <th>
        Platform
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="review of reviews">
      <td>
        ${review.rating}
      </td>
      <td>
        ${review.comment}
      </td>
      <td>
        ${review.timeString}
      </td>
      <td>
        ${review.appuser}
      </td>
      <td>
        ${review.game}
      </td>
      <td>
        ${review.platform}
      </td>
      <td>
        <span if.bind="isAdmin"><a route-href="route: reviewsEdit; params.bind: {id: review.id}">Edit</a> |</span>
        <a route-href="route: reviewsDetails; params.bind: {id: review.id}">Details</a>
        <span if.bind="isAdmin">| <a route-href="route: reviewsDelete; params.bind: {id: review.id}">Delete</a></span>
      </td>
    </tr>
    </tbody>
  </table>

</template>
