<template>
  <h1>Details</h1>

  <div>
    <h4>Billing status</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Status name
      </dt>
      <dd class = "col-sm-10">
        ${billingStatus.statusName}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="billingStatus != null" route-href="route: billingstatusesEdit; params.bind: {id: billingStatus.id}">Edit</a> |
    <a route-href="route: billingstatusesIndex">Back to List</a>
  </div>

  </main>

</template>
