<template>
  <div if.bind="isAdmin">
  <h1>Billing statuses</h1>

  <p>
    <a route-href="route: billingstatusesCreate">Create New</a>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Status name
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="billingstatus of billingStatuses">
      <td>
        ${billingstatus.statusName}
      </td>
      <td>
        <a route-href="route: billingstatusesEdit; params.bind: {id: billingstatus.id}">Edit</a> |
        <a route-href="route: billingstatusesDetails; params.bind: {id: billingstatus.id}">Details</a> |
        <a route-href="route: billingstatusesDelete; params.bind: {id: billingstatus.id}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</template>
