<template>
  <h1>Create</h1>

  <h4>Game</h4>
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="GameTitle">Game's title</label>
          <input class="form-control" type="text" id="GameTitle" name="GameTitle" value.bind="game.gameTitle"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="Price">Price</label>
          <input class="form-control" type="text" id="Price" name="Price" value.bind="game.price"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="Pegi">Pegi</label>
          <input class="form-control" type="text" id="Pegi" name="Pegi" value.bind="game.pegi"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="GenreId">Genre</label>
          <select class="form-control" id="GenreId" name="GenreId" value.bind="genre.id">
            <option selected="selected" value="">Select genre</option>
            <option repeat.for="genre of genres" value.bind="genre.id">${genre.genreName}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="PlatformId">Platform</label>
          <select class="form-control" id="PlatformId" name="PlatformId" value.bind="platform.id">
            <option selected="selected" value="">Select platform</option>
            <option repeat.for="platform of platforms" value.bind="platform.id">${platform.platformName}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="PublisherId">Publisher</label>
          <select class="form-control" id="PublisherId" name="PublisherId" value.bind="publisher.id">
            <option selected="selected" value="">Select publisher</option>
            <option repeat.for="publisher of publishers" value.bind="publisher.id">${publisher.publisherName}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>

  <div>
    <a route-href="route: gamesIndex">Back to List</a>
  </div>

</template>
