<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Game's title
      </dt>
      <dd class = "col-sm-10">
        ${game.gameTitle}
      </dd>
      <dt class = "col-sm-2">
        Price
      </dt>
      <dd class = "col-sm-10">
        ${game.price}
      </dd>
      <dt class = "col-sm-2">
        Pegi
      </dt>
      <dd class = "col-sm-10">
        ${game.pegi}
      </dd>
      <dt class = "col-sm-2">
        Genre
      </dt>
      <dd class = "col-sm-10">
        ${game.genre}
      <dt class = "col-sm-2">
        Platform
      </dt>
      <dd class = "col-sm-10">
        ${game.platform}
      <dt class = "col-sm-2">
        Publisher
      </dt>
      <dd class = "col-sm-10">
        ${game.publisher}
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a route-href="route: gamesIndex">Back to List</a>
      </form>
  </div>

</template>
