<template>
  <h1>Details</h1>

  <div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Game's title
      </dt>
      <dd class = "col-sm-10">
        ${game.gameTitle}
      </dd>
      <dt class = "col-sm-2">
        Price
      </dt>
      <dd class = "col-sm-10">
        ${game.price}
      </dd>
      <dt class = "col-sm-2">
        Pegi
      </dt>
      <dd class = "col-sm-10">
        ${game.pegi}
      </dd>
      <dt class = "col-sm-2">
        Genre
      </dt>
      <dd class = "col-sm-10">
        ${game.genre}
      </dd>
      <dt class = "col-sm-2">
        Platform
      </dt>
      <dd class = "col-sm-10">
        ${game.platform}
      </dd>
      <dt class = "col-sm-2">
        Publisher
      </dt>
      <dd class = "col-sm-10">
        ${game.publisher}
      </dd>
    </dl>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="Amount">Amount</label>
          <input class="form-control" type="number" id="Amount" name="Amount" value.bind="amount" />
        </div>
        <div class="form-group">
          <label class="control-label" for="BasketId">BasketId</label>
          <select class="form-control" id="BasketId" name="BasketId" value.bind="basketId">
            <option value="">Select your basket</option>
            <option repeat.for="basket of baskets" if.bind="basket.basketStatusId == 1" value.bind="basket.id">${basket.timeString}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Add to basket" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
  <div>
    <a route-href="route: gamesIndex">Back to List</a>
  </div>

</template>
