<template>
  <h1>Edit</h1>

  <h4>Game</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="GameTitle">Game's title</label>
          <input class="form-control" type="text" id="GameTitle" name="GameTitle" value.bind="game.gameTitle" />
        </div>
        <div class="form-group">
          <label class="control-label" for="Price">Price</label>
          <input class="form-control" type="text" id="Price" name="Price" value.bind="game.price" />
        </div>
        <div class="form-group">
          <label class="control-label" for="Pegi">Pegi</label>
          <input class="form-control" type="text" id="Pegi" name="Pegi" value.bind="game.pegi" />
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: gamesIndex">Back to List</a>
  </div>

</template>
