<template>
  <h1>Games</h1>

  <p>
    <span if.bind="isAdmin"><a route-href="route: gamesCreate">Create New</a></span>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Game's title
      </th>
      <th>
        Price
      </th>
      <th>
        Pegi
      </th>
      <th>
        Genre
      </th>
      <th>
        Platform
      </th>
      <th>
        Publisher
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="game of games">
      <td>
        ${game.gameTitle}
      </td>
      <td>
        ${game.price}
      </td>
      <td>
        ${game.pegi}
      </td>
      <td>
        ${game.genre}
      </td>
      <td>
        ${game.platform}
      </td>
      <td>
        ${game.publisher}
      </td>
      <td>
        <span if.bind="isAdmin"><a route-href="route: gamesEdit; params.bind: {id: game.id}">Edit</a> |</span>
        <a route-href="route: gamesDetails; params.bind: {id: game.id}">Details</a> |
        <span if.bind="isAdmin && !game.inBasket && !game.inWarehouse"><a route-href="route: gamesDelete; params.bind: {id: game.id}">Delete</a> |</span>
        <a route-href="route: reviewsCreate; params.bind: {id: game.id}">Review</a>
      </td>
    </tr>
    </tbody>
  </table>

</template>
