<template>
  <h1>Create</h1>

  <h4>Billing</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="SumWithoutTax">SumWithoutTax</label>
          <input class="form-control" type="text" id="SumWithoutTax" name="SumWithoutTax" value.bind="billing.sumWithoutTax" />
        </div>
        <div class="form-group">
          <label class="control-label" for="Tax">Tax</label>
          <input class="form-control" type="text" id="Tax" name="Tax" value.bind="billing.tax" />
        </div>
        <div class="form-group">
          <label class="control-label" for="SumTotal">SumTotal</label>
          <input class="form-control" type="text" id="SumTotal" name="SumTotal" value.bind="billing.sumTotal" />
        </div>
        <div class="form-group">
          <label class="control-label" for="Created">Created</label>
          <input class="form-control" type="datetime-local" id="Created" name="Created" value.bind="billing.createdr" />
        </div>
        <div class="form-group">
          <label class="control-label" for="BasketId">BasketId</label>
          <select class="form-control" id="BasketId" name="BasketId"><option value="1">1</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="CreditCardId">CreditCardId</label>
          <select class="form-control" id="CreditCardId" name="CreditCardId"><option value="1">902134723895</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="BillingStatusId">BillingStatusId</label>
          <select class="form-control" id="BillingStatusId" name="BillingStatusId"><option value="1">On hold</option>
            <option value="2">Paid</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: billingsIndex">Back to List</a>
  </div>

</template>
