<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>Billing</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        SumWithoutTax
      </dt>
      <dd class = "col-sm-10">
        ${billing.sumWithoutTax}
      </dd>
      <dt class = "col-sm-2">
        Tax
      </dt>
      <dd class = "col-sm-10">
        ${billing.tax}
      </dd>
      <dt class = "col-sm-2">
        SumTotal
      </dt>
      <dd class = "col-sm-10">
        ${billing.sumTotal}
      </dd>
      <dt class = "col-sm-2">
        Created
      </dt>
      <dd class = "col-sm-10">
        ${billing.created}
      </dd>
      <dt class = "col-sm-2">
        Basket
      </dt>
      <dd class = "col-sm-10">
        ${billing.basketId}
      </dd>
      <dt class = "col-sm-2">
        CreditCard
      </dt>
      <dd class = "col-sm-10">
        ${billing.creditCardId}
      </dd>
      <dt class = "col-sm-2">
        BillingStatus
      </dt>
      <dd class = "col-sm-10">
        ${billing.billingStatusId}
      </dd>
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a route-href="route: billingsIndex">Back to List</a>
      </form>
  </div>

</template>
