 <template>
  <h1>Edit</h1>

  <h4>Billing</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">
        <div class="form-group">
          <label class="control-label" for="CreditCardId">Credit card</label>
          <select class="form-control" id="CreditCardId" name="CreditCardId" value.bind="creditCard.id">
            <option selected="selected" value="">Choose your credit card</option>
            <option repeat.for="creditCard of creditCards" value.bind="creditCard.id">${creditCard.creditCardNr}</option>
          </select> 
        </div>
        <div class="form-group">
          <input type="submit" value="Order" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: billingsIndex">Back to List</a>
  </div>

</template>
