<template>
  <h1>My billings</h1>

  <p></p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Sum without tax
      </th>
      <th>
        Tax
      </th>
      <th>
        Sum total
      </th>
      <th>
        Created
      </th>
      <th>
        Credit card
      </th>
      <th>
        Billing status
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="billing of billings">
      <td>
        ${billing.sumWithoutTax}
      </td>
      <td>
        ${billing.tax}
      </td>
      <td>
        ${billing.sumTotal}
      </td>
      <td>
        ${billing.timeString}
      </td>
      <td>
        ${billing.creditCard}
      </td>
      <td>
        ${billing.billingStatus}
      </td>
      <td>
        <a if.bind="billing.billingStatusId == 1 && billing.sumTotal > 0"
           route-href="route: billingsEdit; params.bind: {id: billing.id}">Checkout</a>
      </td>
    </tr>
    </tbody>
  </table>


</template>
