@model IEnumerable<BLL.App.DTO.GameInBasket>

@{
    ViewData["Title"] = "Games in baskets";
}

<h1>Games in baskets</h1>

<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basket.Created)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
