<template>
  <h1>Log in</h1>
  <div class="row">
    <div class="col-md-4">
      <section>
        <form id="account" method="post" submit.trigger="submit()">
          <h4>Use a local account to log in.</h4>
          <hr/>
          <div class="form-group">
            <label for="Input_Email">Email</label>
            <input class="form-control" type="email" data-val="true" id="Input_Email" name="Input.Email" value.bind="email"/>
          </div>
          <div class="form-group">
            <label for="Input_Password">Password</label>
            <input class="form-control" type="password" data-val="true" id="Input_Password" name="Input.Password" value.bind="password"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
          </div>
          <div class="form-group">
            <p>
              <a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
            </p>
            <p>
              <a href="/Identity/Account/Register?returnUrl=%2F">Register as a new user</a>
            </p>
          </div>
        </form>
      </section>
    </div>
  </div>
</template>
