<template>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.trigger="submit()">
        <h4>Create a new account.</h4>
        <hr />

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" name="email" value.bind="email" />
        </div>
        <div class="form-group">
          <label for="firstName">Firstname</label>
          <input class="form-control" type="text" id="firstName" name="firstName" value.bind="firstName" />
        </div>
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input class="form-control" type="text" id="lastName" name="lastName" value.bind="lastName" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" id="password"  name="password"
                 value.bind="password" />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                 value.bind="confirmPassword" />
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</template>
