﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Gamestore!</h1>
<p></p>
<p></p>
<h4>Here you can buy all kinds of games whether you game on the state-of-the-art PC or on a classic like Playstation 2.</h4>
<p></p>
<p>In order to buy games you need to be signed in!</p>