﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your data will be used in accordance wit EU laws. Actually, I won't be using your data, because this is just a nice demo application.</p>