@model BLL.App.DTO.Billing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Billing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SumWithoutTax" class="control-label"></label>
                <input asp-for="SumWithoutTax" class="form-control" />
                <span asp-validation-for="SumWithoutTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumTotal" class="control-label"></label>
                <input asp-for="SumTotal" class="form-control" />
                <span asp-validation-for="SumTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasketId" class="control-label"></label>
                <select asp-for="BasketId" class ="form-control" asp-items="ViewBag.BasketId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardId" class="control-label"></label>
                <select asp-for="CreditCardId" class ="form-control" asp-items="ViewBag.CreditCardId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BillingStatusId" class="control-label"></label>
                <select asp-for="BillingStatusId" class ="form-control" asp-items="ViewBag.BillingStatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
