@model BLL.App.DTO.Billing

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Billing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumWithoutTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumWithoutTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basket.Id)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCard.CreditCardNr)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingStatus.StatusName)
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
