@model BLL.App.DTO.Billing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumWithoutTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumWithoutTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCard.CreditCardNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingStatus.StatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
