@model BillingCheckoutModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Billing</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Billing.SumWithoutTax" class="control-label"></label>
                <input asp-for="Billing.SumWithoutTax" class="form-control"/>
                <span asp-validation-for="Billing.SumWithoutTax" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Billing.Tax" class="control-label"></label>
                <input asp-for="Billing.Tax" class="form-control"/>
                <span asp-validation-for="Billing.Tax" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Billing.SumTotal" class="control-label"></label>
                <input asp-for="Billing.SumTotal" class="form-control"/>
                <span asp-validation-for="Billing.SumTotal" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Billing.Created" class="control-label"></label>
                <input asp-for="Billing.Created" class="form-control"/>
                <span asp-validation-for="Billing.Created" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Billing.BasketId" class="control-label"></label>
                <input asp-for="Billing.BasketId" class="form-control"/>
                <span asp-validation-for="Billing.BasketId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Billing.CreditCardId" class="control-label"></label>
                <select asp-for="Billing.CreditCardId" class="form-control" asp-items="Model.CreditCardSelectList"></select>
                <span asp-validation-for="Billing.CreditCardId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Billing.BillingStatusId" class="control-label"></label>
                <input asp-for="Billing.BillingStatusId" class="form-control"/>
                <span asp-validation-for="Billing.BillingStatusId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Billing.Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}