@model IEnumerable<BLL.App.DTO.Billing>

@{
    ViewData["Title"] = "Billings";
}

<h1>Billings</h1>

<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SumWithoutTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SumWithoutTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCard.CreditCardNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingStatus.StatusName)
            </td>
            <td>
                <if include-if="@item.BillingStatusId == 1 && @item.SumTotal > 0">
                    <a asp-action="Edit" asp-route-id="@item.Id">Checkout</a>
                </if>
            </td>
        </tr>
}
    </tbody>
</table>
