@model GameReviewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<div>
    <h4>Game</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Platform.PlatformName)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control"/>
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Comment" class="control-label"></label>
                <input asp-for="Review.Comment" class="form-control"/>
                <span asp-validation-for="Review.Comment" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Review.Added" class="control-label"></label>
                <input asp-for="Review.Added" class="form-control"/>
                <span asp-validation-for="Review.Added" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Review.AppUserId" class="control-label"></label>
                <input asp-for="Review.AppUserId" class="form-control"/>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Review.GameId" class="control-label"></label>
                <input asp-for="Review.GameId" class="form-control" />
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="Review.PlatformId" class="control-label"></label>
                <input asp-for="Review.PlatformId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Games" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}