﻿@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Gamestore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css"/>
</head>
<body>
<header>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Addresses" asp-action="Index">Addresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Baskets" asp-action="Index">Baskets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="BasketStatuses" asp-action="Index">Basket statuses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Billings" asp-action="Index">Billings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="BillingStatuses" asp-action="Index">Billing statuses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="CreditCards" asp-action="Index">Credit cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Index">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="GamesInBaskets" asp-action="Index">Games in baskets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="GamesInWarehouses" asp-action="Index">Games in warehouses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Platforms" asp-action="Index">Platforms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Publishers" asp-action="Index">Publishers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Reviews" asp-action="Index">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Warehouses" asp-action="Index">Warehouses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <partial name="_LoginPartial"/>
        </ul>
    </nav>
</header>
<div class="container">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Gamestore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        Culture: @CultureInfo.CurrentCulture.Name UICulture: @CultureInfo.CurrentUICulture.Name
        <partial name="_LanguageSelectionPartial"/>
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
</environment>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>