@model GameRelatedModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game in warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameInWarehouse.Amount" class="control-label"></label>
                <input asp-for="GameInWarehouse.Amount" class="form-control" />
                <span asp-validation-for="GameInWarehouse.Amount" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="GameInWarehouse.Added" class="control-label"></label>
                <input asp-for="GameInWarehouse.Added" class="form-control" />
                <span asp-validation-for="GameInWarehouse.Added" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameInWarehouse.WarehouseId" class="control-label"></label>
                <select asp-for="GameInWarehouse.WarehouseId" class ="form-control" asp-items="Model.WarehouseSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameInWarehouse.GameId" class="control-label"></label>
                <select asp-for="GameInWarehouse.GameId" class ="form-control" asp-items="Model.GameSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
