<template>
  <h1>Create</h1>

  <h4>Game in warehouse</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="Amount">Amount</label>
          <input class="form-control" type="number" id="Amount" name="Amount" value.bind="gameInWarehouse.amount" />
        </div>
        <div class="form-group">
          <label class="control-label" for="WarehouseId">Warehouse</label>
          <select class="form-control" id="WarehouseId" name="WarehouseId" value.bind="warehouse.id">
            <option selected="selected" value="">Select a warehouse</option>
            <option repeat.for="warehouse of warehouses" value.bind="warehouse.id">${warehouse.warehouseName}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="GameId">Game</label>
          <select class="form-control" id="GameId" name="GameId" value.bind="game.id">
            <option selected="selected" value="">Select a game</option>
            <option repeat.for="game of games" value.bind="game.id">${game.gameTitle}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: gamesinwarehousesIndex">Back to List</a>
  </div>


</template>
