<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>Game in warehouse</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Amount
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.amount}
      </dd>
      <dt class = "col-sm-2">
        Added
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.timeString}
      </dd>
      <dt class = "col-sm-2">
        Warehouse
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.warehouse}
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.game}
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a route-href="route: gamesinwarehousesIndex">Back to List</a>
      </form>
  </div>


</template>
