<template>
  <h1>Details</h1>

  <div>
    <h4>Game in warehouse</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Amount
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.amount}
      </dd>
      <dt class = "col-sm-2">
        Added
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.timeString}
      </dd>
      <dt class = "col-sm-2">
        Warehouse
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.warehouse}
      </dd>
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${gameInWarehouse.game}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="gameInWarehouse != null" route-href="route: gamesinwarehousesEdit; params.bind: {id: gameInWarehouse.id}">Edit</a> |
    <a route-href="route: gamesinwarehousesIndex">Back to List</a>
  </div>

</template>
