<template>
  <h1>Edit</h1>

  <div>
    <h4>Game in warehouse</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Added
      </dt>
      <dd class = "col-sm-10">
        ${gamesInWarehouses.timeString}
      </dd>
      <dt class = "col-sm-2">
        Warehouse
      </dt>
      <dd class = "col-sm-10">
        ${gamesInWarehouses.warehouse}
      </dd>
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${gamesInWarehouses.game}
      </dd>
    </dl>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">
        <div class="form-group">
          <label class="control-label" for="Amount">Amount</label>
          <input class="form-control" type="number" id="Amount" name="Amount" value.bind="gamesInWarehouses.amount"/>
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: gamesinwarehousesIndex">Back to List</a>
  </div>
</template>
