<template>
  <h1>Games in warehouses</h1>

  <p>
    <a route-href="route: gamesinwarehousesCreate">Create New</a>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Amount
      </th>
      <th>
        Added
      </th>
      <th>
        Warehouse
      </th>
      <th>
        Game
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="gameinwarehouse of gamesInWarehouses">
      <td>
        ${gameinwarehouse.amount}
      </td>
      <td>
        ${gameinwarehouse.timeString}
      </td>
      <td>
        ${gameinwarehouse.warehouse}
      </td>
      <td>
        ${gameinwarehouse.game}
      </td>
      <td>
        <span if.bind="isAdmin">
        <a route-href="route: gamesinwarehousesEdit; params.bind: {id: gameinwarehouse.id}">Edit</a> |
        <a route-href="route: gamesinwarehousesDetails; params.bind: {id: gameinwarehouse.id}">Details</a> |
        <a route-href="route: gamesinwarehousesDelete; params.bind: {id: gameinwarehouse.id}">Delete</a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>

</template>
