@model GameRelatedModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.GameTitle" class="control-label"></label>
                <input asp-for="Game.GameTitle" class="form-control" />
                <span asp-validation-for="Game.GameTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Price" class="control-label"></label>
                <input asp-for="Game.Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Pegi" class="control-label"></label>
                <input asp-for="Game.Pegi" class="form-control" />
                <span asp-validation-for="Game.Pegi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.GenreId" class="control-label"></label>
                <select asp-for="Game.GenreId" class ="form-control" asp-items="Model.GenreSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Game.PlatformId" class="control-label"></label>
                <select asp-for="Game.PlatformId" class ="form-control" asp-items="Model.PlatformSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Game.PublisherId" class="control-label"></label>
                <select asp-for="Game.PublisherId" class ="form-control" asp-items="Model.PublisherSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
