@model PutGameInBasketModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Pegi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Pegi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Genre.GenreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Platform.PlatformName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Publisher.PublisherName)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="GamesInBaskets" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GameInBasket.Amount" class="control-label"></label>
                    <input asp-for="GameInBasket.Amount" class="form-control"/>
                    <span asp-validation-for="GameInBasket.Amount" class="text-danger"></span>
                </div>
                <div class="form-group" style="display: none !important;">
                    <label asp-for="GameInBasket.GameId" class="control-label"></label>
                    <input asp-for="GameInBasket.GameId" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GameInBasket.BasketId" class="control-label"></label>
                    <select asp-for="GameInBasket.BasketId" class="form-control" asp-items="Model.BasketSelectList"></select>
                </div>
                <div class="form-group"> 
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
