@model BLL.App.DTO.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameTitle" class="control-label"></label>
                <input asp-for="GameTitle" class="form-control" />
                <span asp-validation-for="GameTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pegi" class="control-label"></label>
                <input asp-for="Pegi" class="form-control" />
                <span asp-validation-for="Pegi" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="GenreId" class="control-label"></label>
                <input asp-for="GenreId" class="form-control">
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="PlatformId" class="control-label"></label>
                <input asp-for="PlatformId" class="form-control">
                <span asp-validation-for="PlatformId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none !important;">
                <label asp-for="PublisherId" class="control-label"></label>
                <input asp-for="PublisherId" class="form-control">
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
