@model IEnumerable<BLL.App.DTO.Game>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<p>
    <if include-if="@User.IsInRole("Admin")"><a asp-action="Create">Create New</a></if>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pegi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pegi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform.PlatformName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
            </td>
            <td>
                <if include-if="@User.IsInRole("Admin")"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |</if>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <if include-if="@User.IsInRole("Admin")"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |</if>
                <a asp-controller="Reviews" asp-action="Create" asp-route-id="@item.Id">Review</a>
            </td>
        </tr>
    }
    </tbody>
</table>