<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Genre's name
      </dt>
      <dd class = "col-sm-10">
        ${genre.genreName}
      </dd>
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a route-href="route: genresIndex">Back to List</a>
      </form>
  </div>

</template>
