<template>
  <h1>Details</h1>

  <div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Genre's name
      </dt>
      <dd class = "col-sm-10">
        ${genre.genreName}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="genre != null" route-href="route: genresEdit; params.bind: {id: genre.id}">Edit</a> |
    <a route-href="route: genresIndex">Back to List</a>
  </div>
  
</template>
