<template>
  <h1>Edit</h1>

  <h4>Genre</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="GenreName">Genre's name</label>
          <input class="form-control" type="text" id="GenreName" name="GenreName" value.bind="genre.genreName" />
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
       </form>
    </div>
  </div>

  <div>
    <a route-href="route: genresIndex">Back to List</a>
  </div>

</template>
