<template>
  <div if.bind="isAdmin">
    <h1>Genres</h1>

    <p>
      <a route-href="route: genresCreate">Create New</a>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th>
          Genre's name
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="genre of genres">
        <td>
          ${genre.genreName}
        </td>
        <td>
          <a route-href="route: genresEdit; params.bind: {id: genre.id}">Edit</a> |
          <a route-href="route: genresDetails; params.bind: {id: genre.id}">Details</a> |
          <a route-href="route: genresDelete; params.bind: {id: genre.id}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
