<template>
  <h1>Create</h1>

  <h4>Platform</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="PlatformName">Platform's name</label>
          <input class="form-control" type="text" id="PlatformName" name="PlatformName" value.bind="platform.platformName" />
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: platformsIndex">Back to List</a>
  </div>

</template>
