<template>
  <h1>Details</h1>

  <div>
    <h4>Platform</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Platform's name
      </dt>
      <dd class = "col-sm-10">
        ${platform.platformName}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="platform != null" route-href="route: platformsEdit; params.bind: {id: platform.id}">Edit</a> |
    <a route-href="route: platformsIndex">Back to List</a>
  </div>


</template>
