<template>
  <div if.bind="isAdmin">
    <h1>Platforms</h1>
    <p>
      <a route-href="route: platformsCreate">Create New</a>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th>
          Platform's name
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="platform of platforms">
        <td>
          ${platform.platformName}
        </td>
        <td>
          <a route-href="route: platformsEdit; params.bind: {id: platform.id}">Edit</a> |
          <a route-href="route: platformsDetails; params.bind: {id: platform.id}">Details</a> |
          <a route-href="route: platformsDelete; params.bind: {id: platform.id}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
