<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>Basket status</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Status name
      </dt>
      <dd class = "col-sm-10">
        ${basketStatus.statusName}
      </dd>
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="hidden" id="Id" name="Id" value.bind="basketStatus.id" />
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a route-href="route: basketstatusesIndex">Back to List</a>
    </form>
  </div>

</template>
