<template>
  <h1>Details</h1>

  <div>
    <h4>Basket status</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Status name
      </dt>
      <dd class = "col-sm-10">
        ${basketStatus.statusName}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="basketStatus != null" route-href="route: basketstatusesEdit; params.bind: {id: basketStatus.id}">Edit</a> |
    <a route-href="route: basketstatusesIndex">Back to List</a>
  </div>

</template>
