<template>
  <h1>Edit</h1>

  <h4>Basket status</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="StatusName">Status name</label>
          <input class="form-control" type="text" id="StatusName" name="StatusName" value.bind="basketStatus.statusName" />
        </div>

        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: basketstatusesIndex">Back to List</a>
  </div>

</template>
