<template>
  <div if.bind="isAdmin">
  <h1>Basket statuses</h1>

  <p>
    <a route-href="route: basketstatusesCreate">Create New</a>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Status name
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="basketstatus of basketStatuses">
      <td>
        ${basketstatus.statusName}
      </td>
      <td>
        <a route-href="route: basketstatusesEdit; params.bind: {id: basketstatus.id}">Edit</a> |
        <a route-href="route: basketstatusesDetails; params.bind: {id: basketstatus.id}">Details</a> |
        <a route-href="route: basketstatusesDelete; params.bind: {id: basketstatus.id}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>

</template>
