<template>
  <h1>Create</h1>

  <h4>GameInBasket</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="Amount">Amount</label>
          <input class="form-control" type="number" id="Amount" name="Amount" value.bind="gamesInBaskets.amount" />
        </div>
        <div class="form-group">
          <label class="control-label" for="GameId">GameId</label>
          <select class="form-control" id="GameId" name="GameId"><option value="1">Grand Theft Auto V</option>
            <option value="2">Grand Theft Auto V</option>
            <option value="3">Grand Theft Auto V</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="BasketId">BasketId</label>
          <select class="form-control" id="BasketId" name="BasketId" value.bind="basket.id">
            <option value="">Select your basket</option>
            <option repeat.for="basket of baskets" value.bind="basket.id">${basket.created}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: gamesinbasketsIndex">Back to List</a>
  </div>


</template>
