<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to delete this?</h3>
  <div>
    <h4>GameInBasket</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Amount
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.amount}
      </dd>
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.game}
      <dt class = "col-sm-2">
        Basket
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.timeString}
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Delete" class="btn btn-danger" /> |
      <a route-href="route: basketsIndex">Back to List</a>
      </form>
  </div>

</template>
