<template>
  <h1>Details</h1>

  <div>
    <h4>GameInBasket</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Amount
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.amount}
      </dd>
      <dt class = "col-sm-2">
        Game
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.game}
      </dd>
      <dt class = "col-sm-2">
        Basket
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.basket}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="gamesInBaskets != null" route-href="route: gamesinbasketsEdit; params.bind: {id: gamesInBaskets.id}">Edit</a> |
    <a route-href="route: gamesinbasketsIndex">Back to List</a>
  </div>


</template>
