<template>
  <h1>Edit</h1>

  <div>
    <h4>Game in basket</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        GameTitle
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.game}
      </dd>
      <dt class = "col-sm-2">
        Price
      </dt>
      <dd class = "col-sm-10">
        ${gamesInBaskets.price}
      </dd>
    </dl>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">
        <div class="form-group">
          <label class="control-label" for="Amount">Amount</label>
          <input class="form-control" type="number" id="Amount" name="Amount" value.bind="gamesInBaskets.amount" />
        </div>
        <div class="form-group">
          <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
  <div>
    <a route-href="route: gamesinbasketsIndex">Back to List</a>
  </div>
</template>
