<template>
  <h1>Games in baskets</h1>

  <p></p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Amount
      </th>
      <th>
        Game
      </th>
      <th>
        Basket
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="gameinbasket of gamesInBaskets">
      <td>
        ${gameinbasket.amount}
      </td>
      <td>
        ${gameinbasket.game}
      </td>
      <td>
        ${gameinbasket.timeString}
      </td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>

</template>
