<template>
  <h1>Delete</h1>

  <h3>Are you sure you want to remove this?</h3>
  <div>
    <h4>Credit card</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Credit card number
      </dt>
      <dd class = "col-sm-10">
        ${creditCard.creditCardNr}
      </dd>
      <dt class = "col-sm-2">
        Valid thru
      </dt>
      <dd class = "col-sm-10">
        ${creditCard.timeString}
      </dd>
    </dl>

    <form method="post" submit.delegate="submit()">
      <input type="submit" value="Remove" class="btn btn-danger" /> |
      <a route-href="route: creditcardsIndex">Back to List</a>
      </form>
  </div>
  
</template>
