<template>
  <h1>Details</h1>

  <div>
    <h4>Credit card</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Credit card number
      </dt>
      <dd class = "col-sm-10">
        ${creditCard.creditCardNr}
      </dd>
      <dt class = "col-sm-2">
        Valid thru
      </dt>
      <dd class = "col-sm-10">
        ${creditCard.validThru}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="creditCard != null" route-href="route: creditcardsEdit; params.bind: {id: creditCard.id}">Edit</a> |
    <a route-href="route: creditcardsIndex">Back to List</a>
  </div>

</template>
