<template>
  <h1>Edit</h1>

  <h4>Credit card</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="CreditCardNr">Credit card number</label>
          <input class="form-control" type="text" id="CreditCardNr" name="CreditCardNr" value.bind="creditCard.creditCardNr"/>
        </div>
        <div class="form-group">
          <label class="control-label">Valid thru year</label>
          <input class="form-control" type="number" min="2019" max="2100" step="1" value.bind="formYear"/>
        </div>
        <div class="form-group">
          <label class="control-label">Valid thru month</label>
          <input class="form-control" type="number" min="1" max="12" step="1" value.bind="formMonth"/>
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
       </form>
    </div>
  </div>

  <div>
    <a route-href="route: creditcardsIndex">Back to List</a>
  </div>

</template>
