<template>
  <h1>My credit cards</h1>

  <p>
    <a route-href="route: creditcardsCreate">Add a credit card</a>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Credit card number
      </th>
      <th>
        Valid thru
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="creditcard of creditCards">
      <td>
        ${creditcard.creditCardNr}
      </td>
      <td>
        ${creditcard.timeString}
      </td>
      <td>
        <a route-href="route: creditcardsEdit; params.bind: {id: creditcard.id}">Edit</a> |
        <a route-href="route: creditcardsDelete; params.bind: {id: creditcard.id}">Remove</a>
      </td>
    </tr>
    </tbody>
  </table>
</template>
