@model IEnumerable<BLL.App.DTO.GameInBasket>

@{
    ViewData["Title"] = "Details";
}

<h1>My basket</h1>

<p></p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Price)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Price)
            </td>
            <td>
                <if exclude-if="@item.Basket.BasketStatusId == 2">
                    <a asp-controller="GamesInBaskets" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </if>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>