@model IEnumerable<BLL.App.DTO.Basket>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Baskets";
}

<h1>My baskets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasketStatus.StatusName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <if include-if="@item.BasketStatusId == 1">| <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></if>
            </td>
        </tr>
}
    </tbody>
</table>
