<template>
  <h1>Create</h1>

  <h4>Basket</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <p>Are you sure?</p>
      <form method="post" submit.delegate="submit()">
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div> 

  <div>
    <a route-href="route: basketsIndex">Back to List</a>
  </div>

</template>
