<template>
  <h1>My basket</h1>

  <p></p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Amount
      </th>
      <th>
        Game
      </th>
      <th>
        Price
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="game of basketDetails.games">
      <td>
        ${game.amount}
      </td>
      <td>
        ${game.game.gameTitle}
      </td>
      <td>
        ${game.game.price}
      </td>
      <td>
        <span if.bind="basketDetails.basket.basketStatusId == 1">
          <a route-href="route: gamesinbasketsDelete; params.bind: {id: game.id}">Delete</a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <a route-href="route: basketsIndex">Back to List</a>
  </div>
</template>
