<template>
  <h1>Edit</h1>

  <h4>Basket</h4>
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">
        <div class="form-group">
          <label class="control-label" for="BillingId">BillingId</label>
          <input class="form-control" type="number" id="BillingId" name="BillingId" value.bind="basket.billingId" />
        </div>
        <div class="form-group">
          <label class="control-label" for="BasketStatusId">BasketStatusId</label>
          <input class="form-control" id="BasketStatusId" name="BasketStatusId" value.bind="basket.basketStatusId">
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>
  <div>
    <a route-href="route: basketsIndex">Back to List</a>
  </div>

</template>
