<template>
  <h1>My baskets</h1>

  <p>
    <a route-href="route: basketsCreate">Create New</a>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>
        Created
      </th>
      <th>
        Basket status
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr repeat.for="basket of baskets">
      <td>
        ${basket.timeString}
      </td>
      <td>
        ${basket.basketStatus}
      </td>
      <td>
        <a route-href="route: basketDetails; params.bind: {id: basket.id}">Details</a> 
        <span if.bind="basket.basketStatusId == 1"> |
        <a route-href="route: basketsDelete; params.bind: {id: basket.id}">Delete</a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>

</template>
