<template>
  <h1>Create</h1>

  <h4>Publisher</h4>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form method="post" submit.delegate="submit()">

        <div class="form-group">
          <label class="control-label" for="PublisherName">Publisher's name</label>
          <input class="form-control" type="text" id="PublisherName" name="PublisherName" value.bind="publisher.publisherName" />
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
    </div>
  </div>

  <div>
    <a route-href="route: publishersIndex">Back to List</a>
  </div>

</template>
