<template>
  <h1>Details</h1>

  <div>
    <h4>Publisher</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
        Publisher's name
      </dt>
      <dd class = "col-sm-10">
        ${publisher.publisherName}
      </dd>
    </dl>
  </div>
  <div>
    <a if.bind="publisher != null" route-href="route: publishersEdit; params.bind: {id: publisher.id}">Edit</a> |
    <a route-href="route: publishersIndex">Back to List</a>
  </div>

</template>
