<template>
  <div if.bind="isAdmin">
    <h1>Publishers</h1>
    <p>
      <a route-href="route: publishersCreate">Create New</a>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th>
          Publisher's name
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="publisher of publishers">
        <td>
          ${publisher.publisherName}
        </td>
        <td>
          <a route-href="route: publishersEdit; params.bind: {id: publisher.id}">Edit</a> |
          <a route-href="route: publishersDetails; params.bind: {id: publisher.id}">Details</a> |
          <a route-href="route: publishersDelete; params.bind: {id: publisher.id}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
